* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

header{
	height: 50px;
	background: #333;
	color: #fff;
	display: flex;
}

header label{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

#btn-menu{
	display: none;
}

.menu ul{
	background: #333;
	display: flex;
	list-style: none;
	padding: 0;
}

.menu a{
	display: block;
	padding: 10px 2.5em;
	color: #fff;
	text-decoration: none; 
	transition: 0.4s;
}

.menu a:hover{
	background: rgba(0,0,0,0.5);
}

.menu ul ul{
	display: none;
}

.menu li {
	line-height: 3rem;
}

/*responsive*/

@media (max-width: 768px){
	header label{
		display: block;
	}

	.menu {
		position: absolute;
		top:50px;
		left: 0;
		width: 100%;
	}

	.menu ul {
		display: block;

	}

}

