<form name='formLogin' id='formLogin' class='login-form' style="margin-top: 5%">
    <h1 class='alta-titulo'>Piedra, Papel o Tijera Uno</h1>
    <div class='alta-contenedor'>
		<div style="width:100%; text-align:center; margin-bottom:10px">
			<img style="width:157px" src="img/signo.png" >
		</div>
		<button ng-click="piedra()"><img class="PiedraPapelTijera animated zoomInRight" src="img/piedra.jpg"></button>
		<button ng-click="papel()"><img class="PiedraPapelTijera animated zoomInUp" src="img/papel.jpg"></button>
		<button ng-click="tijera()"><img class="PiedraPapelTijera animated zoomInLeft"  src="img/tijera.jpg"></button>
		<div style="width:100%; text-align:center">
			<h2>{{resultado}}</h2>
		</div>
	</div>
</form>
<div class="divEnunciados">
	<h2>Enunciado:</h2>
	<p>
		3.	Piedra, Papel o Tijera (v 1.0):
		</br>Al comenzar el juego generaremos un número RANDOM del 1 al 3 para la selección de la máquina, siendo 1 para “piedra”, el 2 para “papel” y 3 para “tijera”.
		</br>El jugador seleccionará una imagen correspondiente a su opción  y le informaremos si ganó, empató o perdió
	</p>
</div>
