<form name='formLogin' id='formLogin' class='login-form' style="margin-top: 5%">
    <h1 class='alta-titulo'>Piedra, Papel o Tijera Dos</h1>
    <div class='alta-contenedor'>
		<div style="width:100%; text-align:center; margin-bottom:10px">
			<img style="width:157px" src="img/signo.png" >
		</div>
		<button ng-click="piedra()"><img class="PiedraPapelTijera animated zoomInRight" src="img/piedra.jpg"></button>
		<button ng-click="papel()"><img class="PiedraPapelTijera animated zoomInUp" src="img/papel.jpg"></button>
		<button ng-click="tijera()"><img class="PiedraPapelTijera animated zoomInLeft"  src="img/tijera.jpg"></button>
		<div style="width:100%; text-align:center">
			<h2>{{resultado}}</h2>
		</div>
	</div>
</form>
<div class="divEnunciados">
	<h2>Enunciado:</h2>
	<p>
		3.	Piedra, Papel o Tijera (v 2.0):
		</br>	Ahora debemos informar cuantas veces se ganó, perdió o empató desde la última recarga de página
	</p>
</div>
<div class="divResultados">
	<h1 class="divResultados-titulo">Resultados</h1>
	<div class="divResultados-contenedor">
		<h2>Ganadas: {{ganadas}}</h2>
		<h2>Empatadas: {{empatadas}}</h2>
		<h2>Perdidas: {{perdidas}}</h2>
	</div>
</div>
