<form name='formLogin' id='formLogin' class='login-form'>
    <h1 class='alta-titulo'>Iniciar Sesión</h1>
    <div class='alta-contenedor'>
	    <input type="text" placeholder="&#128272;Usuario" class="input" name="txtLoginNombre" ng-model="usuario.correo">
	    <input type="password" placeholder="&#128273;Clave" class="input" name="txtLoginClave" ng-model="usuario.clave">
	    <input type="submit" class="botonLogin" value="Ingresar" ng-click="Verificar()">
	    <input type="submit" class="botonLogin" value="Registrarse" ng-click="Registrarse()">
	</div>
</form>
