<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="persona.menu()" ng-if="!logeado">Persona</a></li>
			    <li><a ui-sref="juegos.menu()" ng-if="!logeado">Juegos</a></li>
			    <li><a ui-sref="login.login()" ng-if="logeado" >Login</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="contenedorRegistro" ng-if="logeado">
                        <input type="text" placeholder="&#128272;Usuario" class="input" name="txtLoginNombre" ng-model='usuario.email' required>
                        <input type="password" placeholder="&#128273;Clave" class="input" name="txtLoginClave" ng-model='usuario.clave' required>
                        <input type="password" placeholder="&#128273;Repetir Clave" class="input" name="txtLoginClaveRepetida" ng-model='usuario.claveRepetida' required>
                        <input type="submit" value="Registrarse" class="botonLogin" ng-disabled="formAlta.$invalid && (usuario.clave == usuario.copiaClave)">
                    </div>
                    <div ng-click="Persona()" class="contenedorPersonas" ng-if="!logeado">
                        <div class="col-lg-2">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-lg-10">
                            <a ui-sref="persona.menu()" ><h3>Personas</h3><p>En esta sección podemos encontrar un ABM de Usuarios.</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer style="position:fixed; bottom:0; width:100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/mmirotta" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/mmirotta/ABM_AngularJs_PHP_persona" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Lab4 2016. Matias Mirotta</p>
            </div>
        </div>
    </div>
</footer>
